<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munro College | Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include ("header") %>
    <main>
        <div class="wrapper">

            <div class="wrapper__tutorial">

            </div>
            <div class="wrapper__top">
            <div class="wrapper__top__user-name">
                <span>Welcome <%= username %></span>
            </div>
            <div class="wrapper__top__logout">
                <form action="/logout" method="POST">
                <button class="wrapper__top__logout-btn">Logout</button>
                </form>
            </div>
        </div>

            <div class="wrapper__main">
            <form id="dashboard-form"  action="/videos/all" method="POST" enctype="multipart/form-data">
                <label class="video-uploader" for="file"><i class="fa fa-upload"></i> Upload Video</label>
            <input id="file" type="file" name="new_video" accept="video/mp4">
            <input class="wrapper__submit-btn" type="submit">
            </form>
            <div class="errors">
                <p class=" errors__error errors__large">File too large</p>
            </div>
            <div class="preview">
                <p class="preview__content">No lesson is in staging area</p>
            </div>
        </div>
        </div>
    </main>
    <%- include ("footer") %>
    <script defer src="js/navbar.js"></script>
  <script>
      window.addEventListener("load",()=>{
                const mainLink = document.getElementById("academics");
                mainLink.classList.remove("active");
                mainLink.classList.add("inactive");
          })
  </script>
<script>
    const previewContent = document.querySelector('.preview__content');
    const error = document.querySelector(".errors__large")
    const file = document.getElementById("file");
    file.onchange = ()=>{
const fileContent = file.files[0]
const fileContentSizeInMB = file.files[0].size/1024/1024
if (fileContentSizeInMB > 500) {
    previewContent.textContent = "No lesson is in staging area";
    return error.style.opacity = 1;
}
error.style.opacity = 0;
previewContent.textContent = "Your lesson has been staged";

}
    const form = document.getElementById('dashboard-form');
    form.onsubmit = e => {
    const fileContent = file.files[0];

    if(fileContent === undefined) return e.preventDefault();
    

    if (fileContent.size > 1000000){
        e.preventDefault();
        previewContent.textContent = "No lesson is in staging area";
        return error[0].style.opacity = 1;
    } 

    }


</script>
</body>
</html>