<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munro College | Videos</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/videos.css">
<style>
    html{
        font-family: 'Lato',sans-serif;
    }
    .container{
        margin-top:15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    video{
        display: block;
        height: 15rem;
        width: 20rem;
        outline: none;
        border: none;
        margin:1rem;
    }
</style>
</head>
<body>
    <%- include("header") %>
<main>
    <div class="container">
        <h2></h2>
    </div>
</main>
<%- include("footer") %>
<script>
    window.addEventListener("load",()=>{
                const mainLink = document.getElementById("academics");
                mainLink.classList.remove("active");
                mainLink.classList.add("inactive");
          })
</script>
<script>
     async function getAllVideos () {
           const videosReq = await fetch("/videos/all");
           const videosRes = await videosReq.json();
          
           try{
           if (videosRes.length === 0) return document.querySelector("h2").textContent = "No videos available";

            videosRes.forEach(video => {
                const videoDOM = document.createElement("video");
                const source = document.createElement("source");
                videoDOM.setAttribute("controls","");
                source.src = video.path;
                source.type = "video/mp4"
                videoDOM.append(source);
                document.querySelector(".container").append(videoDOM)
                console.log(videoDOM)
            })
        }
        catch (err){
            console.log(err);
            document.querySelector("h2").textContent = "No videos available"
        }
    }
    getAllVideos()




</script>
</body>
</html>