<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munro College | Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include ("header") %>
    <main>
        <div class="wrapper">
            <div class="wrapper__instructions">
                <span class="wrapper__instructions__heading">Overview</span>
                <p class="wrapper__instructions__content">You can upload lessons in video format for students:<br>
                     1.Clicking the upload video button<br>
                     2.Select the video you want to upload<br>
                     3. Click the submit button</p>
            </div>
            <div class="wrapper__main">
            <form id="dashboard-form">
                <label class="video-uploader" for="file"><i class="fa fa-upload"></i> Upload Video</label>
            <input id="file" type="file" name="file" accept="video/*">
            <input class="wrapper__submit-btn" type="submit">
            </form>
            <div class="preview">
                <p class="preview__content"><%- upl %></p>
            </div>
        </div>
            <span class="wrapper__notice">The dashboard will soon be updated so that you can have more control.</span>
            <div class="updates">
             <span> Updates to be made:<br>
               <span class="updates__content"> 1. Allow you to choose a specified form to upload video</span><br>
               <span class="updates__content"> 2. Allow you to upload files for specified form</span><br>
             </span>
            </div>  
            </span>
        </div>
    </main>
    <%- include ("footer") %>
    <script src="js/navbar.js"></script>
  <script>
      window.addEventListener("load",()=>{
                const mainLink = document.getElementById("academics");
                mainLink.classList.remove("active");
                mainLink.classList.add("inactive");
          })
  </script>
<script>
    const previewContent = document.querySelector('.preview__content');
    const file = document.getElementById("file");
    file.onchange = ()=>{
        const fileContent = file.files[0]
previewContent.textContent = "Your video is ready to be submitted";
    }
    const form = document.getElementById('dashboard-form');
    form.onsubmit = e=>{
        const fileContent = file.files[0]
        if(fileContent === undefined){
            previewContent.textContent = "No video is ready";
        }else{
         previewContent.textContent = "File is being uploaded..."
         setTimeout(()=>previewContent.textContent = "File has been uploaded !",5000)
        }
        e.preventDefault();
    }
</script>
</body>
</html>