<footer>
<section class="footer-section">
    <div class="logo-container-btm">
        <img src="img/mclogo.png" alt="munro college logo">
    </div>
    <div class="web-foot">
            <div class="about-sec">
                <span class="foot-heads">About Links</span>
                <ul class="nav-btm">
                <li><a href="history.ejs">Brief History</a></li>
                <li><a href="vision-mission.ejs">Vision And Mission</a></li>
                <li><a href="core-values.ejs">Core Values</a></li>
                <li><a href="https://www.munroalumni.net/">MCOBA</a></li>
                </ul>
            </div>
               <div class="quick-sec">
                <span class="foot-heads">Quick Links</span>
                <ul class="nav-btm">
                    <li><a href="covid.ejs">Covid-19 Tracker</a></li>
                     <li><a href="newsfeed.ejs">Newsfeed</a></li>
                     <li><a href="https://logins2.renweb.com/Logins/ParentsWeb-Login.aspx?">Renweb Login</a></li>
                    <li><a href="worksheets.ejs">Worksheets</a></li>
                    </ul>
               </div>
                <div class="more-sec">
                    <span class="foot-heads">More Links</span>
                    <ul class="nav-btm">
                    <li><a href="worksheets-form1.ejs">Form 1</a></li>
                    <li><a href="quiz.ejs">Quiz Team</a></li>
                    <li><a href="sports.ejs">Sports</a></li>
                    <li><a href="login.ejs">Lessons</a></li>
                    </ul>
                    </div>
          </div>  
          <div class="copyright-sec">
            <span>&copy Copyright 2020 Munro College</span>
            <span>Created by Winston Brown</span>
          </div>
    </section>
</footer>