<!DOCTYPE html>
<html>
    <head>
            <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Munro College | In Arce Sitam Quis</title>
        <link rel="stylesheet" href="mchomeweb.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    </head>
    <body>
        <!-- <div class='spinner-wrapper'>
            <div class="spinner"></div>
        </div> -->
        <%- include ("header") -%>
        <main>
        <section class="slider-container">
            <div class="slider-carousel">
                <div>
                    <img class="firstImg fade" src="img/peacock1.jpg" alt="Picture of a peacock">
                   </div>
                <div>
                <img class="firstImg fade" src="img/mcview.jpg" alt="">
                </div>
                <div>
                <img class="firstImg fade" src="img/mcdescimg.jpg" alt="">
                </div>
                    </div>
        </section>
        <section id="intro-body">
        <div id="intro">
            <h2>An Intro To Munro College</h2>
            <div class="intro-content-container">
           
            <p id="intro-content">
            <b>Munro College</b> is a <b>boarding school</b> for boys in<b> St. Elizabeth,Jamaica.</b>
            It was  founded in 1856 as the Potsdam School ,named for the city of Potsdam, a free school for poor boys in  St.Elizabeth as stipulated in the will of plantation  owners Robert Hugh Munro and Caleb Dickenson. It was <b>renamed</b> Munro  College during World War I as part of the general rejection of German names  at the time, though the surrounding Potsdam district was not also renamed. 
            Over the years Munro College (also called "MC") has distinguished itself as a centre for excellence in secondary education in Jamaica and the Caribbean.  It is reputed to have produced the <b>most Rhode Scholars</b>  of any secondary school in the Caribbean.
            </p>
            <img src="img/mcdescimg.jpg">
                 </div>
            </div>
        </section>
        </div>
        <section>
        <div class="covid_cope">
            <div class="covid-header">
            <p>How MC will cope with <b>Covid-19</b></p>
                <div class="covid-btn-container">
                <a href="newsfeed.ejs" class="covid-btn">Read</a>
                </div>
            </div>
            </div>
        </section>
        <section class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15184.794777120269!2d-77.68722571481936!3d17.922884214092917!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x80f997fb3ddb362a!2sMunro%20College!5e0!3m2!1sen!2sjm!4v1596859446888!5m2!1sen!2sjm" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </section>
    </main>
    <%- include ("footer") %>
    <script src="js/mchomeweb.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(()=>{
        $('.slider-carousel').slick({
            autoplay:true,
            autoplaySpeed:3000,
            dots:true,
            speed:4000,
         fade:true
        }); 
    });
  </script>
     
<script src="js\navbar.js"></script>
<script>
window.addEventListener("load",()=>{
                const mainLink = document.getElementById("home");
                mainLink.classList.remove("active");
                mainLink.classList.add("inactive");
          })
</script>

    </body>
</html>




<!-- <ul>
    <li><a>Agricultural Science</a></li>
    <li><a>English A</a></li>
    <li><a>English B</a></li>
    <li><a>French</a></li>
    <li><a>Information Technology</a></li>
    <li><a>Integrated Science</a></li>
    <li><a>Mathematics</a></li>
    <li><a>Music Education</a></li>
    <li><a>Physical Education</a></li>
    <li><a>Religious Education</a></li>
    <li><a>Resource & Technology</a></li>
    <li><a>Social Studies</a></li>
    <li><a>Spanish</a></li>
    </ul>
</div> -->


<!-- <div class="sub sub-menu4">
    <ul>
        <li><a href="file:///C:/mcfullweb/mcourleaders.html">Our Leaders</a></li>
        <li><a>Our Staff</a></li>
        <li><a>Our Student Leaders</a></li>
        <li></li>
        </ul>
    </div> -->




