<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munro College | Newsfeed</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/mcnews.css">

</head>
<body class="body">
    <div class='spinner-wrapper'>
        <div class="spinner"></div>
    </div>
    <%- include ("header") -%>
            <main>
            <section class="covid-news">
            <div class="covid-news__content">
                <span class="covid-news__content__heading">Covid-19 Update</span>
                <div class="covid-news__content__f-image"></div>
            </div>
            <div class="princi-message">
                <img src="img/mclogo.png">
                <p>
                    “I reiterate my thanks to the Munro College Old Boys Association (MCOBA) and the individual year groups, as well as the trust chairman… This idea came about from before COVID-19 [reached Jamaica]. In January I had discussions during my operations meeting about the shift coming for CXC [Caribbean Examination Council] with e-learning. I said to the team it wasn't fair [for] a child to do writing from kindergarten to secondary school and then at fifth form type an exam. There was a disconnect there, so I said we have to now shift towards a digital classroom where students start to get comfortable with the process of typing and submitting assignments,”
                </p>
            </div>
            <h2 class="covid-news__content__heading">CoroNews</h2>
            <span class="informer">Please Wait...</span>
            </section>
            <section class="section-newsfeed">
            </section>
        </main> 
        <%- include ("footer") -%>
        <script src="js/navbar.js"></script>
        <script src="js/covid-cope.js"></script>
          <script>
            window.addEventListener("load",()=>{
                  const mainLink = document.getElementById("news");
                  mainLink.classList.remove("active");
                  mainLink.classList.add("inactive");
                  })
          </script>
</body>
</html>