<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munro College | Worksheets</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/worksheets.css">
</head>
<body>
    <%- include ("header") -%>
            <main>
                <section class="files-section">
                    <div class="container">
                        <span class="container__heading">Files</span>
                        <div class="row">
                            <div class="row__heading row__heading1">
                                <span>Name</span>
                            </div>
                            <div class="row__heading row__heading2">
                                <span>Last Updated</span>
                            </div>
                            <div class="row__heading row__heading3">
                                <span>Amount</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row__name">
                                <span><i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                    <a href="worksheets-form1.ejs">Form 1</a></span>
                            </form>
                            </div>
                            <div class="row__last-updated">
                                <span>Sep 30, 2020</span>
                            </div>
                            <div class="row__amount">
                                <span>8</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row__name">
                                <span><i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                    <a href="worksheets-form2.ejs">Form 2</a></span>
                            </div>
                            <div class="row__last-updated">
                                <span>Sep 30, 2020</span>
                            </div>
                            <div class="row__amount">
                                <span>8</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row__name">
                                <span><i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                    <a href="worksheets-form3.ejs">Form 3</a></span>
                            </div>
                            <div class="row__last-updated">
                                <span>Sep 30, 2020</span>
                            </div>
                            <div class="row__amount">
                                <span>8</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row__name">
                                <span><i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                    <a href="worksheets-form4.ejs">Form 4</a></span>                            </div>
                            <div class="row__last-updated">
                                <span>Sep 30, 2020</span>
                            </div>
                            <div class="row__amount">
                                <span>8</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row__name">
                                <span><i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                    <a href="worksheets-form5.ejs">Form 5</a></span>                            </div>
                            <div class="row__last-updated">
                                <span>Sep 30, 2020</span>
                            </div>
                            <div class="row__amount">
                                <span>8</span>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <%- include ("footer") -%>
                <script src="js/navbar.js"></script>    
        <script>
            window.addEventListener("load",()=>{
                const mainLink = document.getElementById("academics");
                mainLink.classList.remove("active");
                mainLink.classList.add("inactive")
            })
        </script>
</body>
</html>