@import "../abstracts/_functions";
@import "../abstracts/_mixins";
@import "../abstracts/_variables";
@import "../base/animations";
@import "../base/base";
@import "../components/header";
@import "../components/footer";
@import "../components/preloader";
@import "../base/typography";
@import "../base/utilities";

.slider-carousel {
    width: 100%;
    overflow: hidden; 

    & p {
        position: absolute;
        color: #fff;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 200%;
        font-weight: 600; }
  }
  .firstImg {
    width: 100%;
    height: 33rem;
 }
  
  #intro-body {
    transition: font-size 300ms;
    background-image: linear-gradient(rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.514)), url(../img/mcwebfirstimg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-bottom: 5rem; }
  
  #intro h2 {
    color: gold;
    border-radius: 0.5rem;
    margin-top: 2%;
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem; }
  
  #intro-content {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 40px;
    padding: 1em 1rem;
    text-align: center; }
  
  .intro-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  
  #intro img {
    width: 45%;
    height: 65%;
    box-shadow: 1px 1px 3.5rem #000;
    padding: 1rem;
  margin-bottom:1rem; }
  
  .we-are-proud {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(50%);
    transform: translateX(-50%);
    color: #fff;
    font-size: 200%;
    font-weight: 600; }
  
  .text-fade {
    opacity: 1;
    transform: translateY(-0.1em); }
  
  .map-container {
    transform: translateY(-20vh);
}

.covid_cope {
  height: 80vh; 
  & p:first-child {
      font-size: 200%;
      color: $color-primary-gold;
      font-weight: 500;
      margin-bottom: 4vh; }
}

.covid-header {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/covid-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  /* clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%); */ }



.covid-btn-container {
  text-align: center; }

.covid-btn {
  padding: 0.8rem;
  background: #f1c40f;
  border-radius: 0.6rem;
  box-shadow: 0px 0px 40px gold;
  transform: scale(1.1);
  transition: transform 400ms;
  cursor: pointer;
  display: block;
  backface-visibility: hidden;
  color: #fff; 
  &:hover {
      transform: scale(0.9); 
  }
}
@media (max-width:980px){
  #intro img{
    display: none;
  }
}
@media (max-width:1170px){

  .intro-content-container{
    flex-direction: column;
  }
  #intro img{
    width:70%;
  }
  #intro-content{
    width: 100%;
    padding:3rem;
    line-height: 3rem;
  }

}
