@import "../abstracts/_functions";
@import "../abstracts/_mixins";
@import "../abstracts/_variables";
@import "../base/animations";
@import "../base/base";
@import "../components/header";
@import "../components/footer";
@import "../base/typography";
@import "../base/utilities";
.wrapper{
    margin-top: 10rem;
    height: 50%;
    text-align: center;
    font-weight: 400;
   &__main{
    width:50%;
    margin:2rem auto;
    border-radius: 6px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.151);
    padding:0.2rem;
    & form{
        margin:3rem 0;
    }
   }
}
#file{
    opacity: 0;
    width: 10%;
}
.updates{
    margin:2rem 0;
    &__content{
        padding: 1rem;
        display: inline-block;
    }
}
.wrapper__submit-btn{
    background-color: gold;
    margin:0.7rem;
    @include button_default;
}
    .video-uploader{
color:gold;
cursor: pointer;
    }
.preview{
    padding: 1rem;
    width: 60%;
    margin:2rem auto;
    color:navy;
}
.wrapper__top{
    display:flex;
    justify-content: space-around;
    
    &__logout-btn{
        background-color: navy;
        @include button_default;
    }
    &__user-name span {
        color: navy;
    }
}
.errors{
    color:red;
    & p {
        opacity: 0;
    }
}

@media (max-width : 700px){
    .wrapper__main{
        width: 70%;
        height: 30%;
    }
}
@media (max-width : 410px){
    .wrapper__main{
        width: 80%;
        padding: 0.2rem;
        
    }
}