@import "../abstracts/_functions";
@import "../abstracts/_mixins";
@import "../abstracts/_variables";
@import "../base/animations";
@import "../base/base";
@import "../components/header";
@import "../components/footer";
@import "../base/typography";
@import "../base/utilities";
.history{
    margin-top: 11rem;
}
.history__heads{
font-size:2.5rem;
text-align: center;
color:navy;
display: block;
font-weight: 500;
letter-spacing: 0.2rem;
margin-top: 2rem;

}
.history__content{
line-height: 1.5rem;
color:rgb(54, 54, 54);
font-weight: 400;
margin-top: 3rem;
padding:0 2rem ;
}
.history__motto__content{
    font-weight: 300;
    margin-top: 1rem;
    font-size: 1.5em;
    padding:2rem;
    text-align: center;
}
.verse{
    font-size: 2rem;
    color:gold;
}
@media (max-width:430px){
    .history__heads{
        font-size:2rem;
    }
}
@media (max-width:330px){
    .history__heads{
        font-size:1.5rem;
    }  
    .history__content{
        padding: 1rem;
    }
}